body {
  margin-top: 10%;
  text-align : center;
  background-color : #F1F3F4;
}
.container {
    width: 100%;
  }

#calculator-display {
    width: 100%;
    max-width: 450px;
}

 #screen {
   padding: 2% 5%;
   text-align : right !important;
   min-height: 120px;
  }
  
  #sup-display {
    font-size: 1.5em;
    min-height : 40px;
    height : 40%;
    margin : 5% auto;
  }

  #display {
    font-size: 2.5em;
    min-height : 80px;
    height : 55%;
    display : flex;
    justify-content : flex-end;
}

  #display span {
    align-self : flex-end;
  }

.touch-pad {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 75% 25%;
  grid-template-rows: 80% 20% ; 
  grid-template-areas : 
    "digit operator"
    "result operator";
  padding:15% 5%;
  min-width: 200px;
  border-bottom-left-radius :10px;
  border-bottom-right-radius: 10px;
}
  
.digit {
  grid-area : digit;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows : 5fr 5fr 5fr 5fr;
  padding: 5%;
  padding-bottom : auto;
}

.digit div {
  height: 50px;
  width: 50px;
  border-radius : 10px;
  background-color : #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  }


.operator {
  grid-area  : operator;
  display : grid;
  grid-gap : 2.5px;
  padding : auto;
}

.operator div {
  font-size: 1.25em;
  border-radius : 10px;
  color: #FFFFFF;
  background-color : #4C5EF7;
  display: flex;
  justify-content: center;
  align-items: center;
  }

#clear {
  color : red;
  background-color : #92939C;
  font-weight: bold;
}
  
#calculate {
  color: ghostwhite;
  background-color: darkblue;
  font-weight: bold;
}

.result {
  grid-area : result ;
  display : grid;
  grid-gap : 10px;
  grid-template-columns : 40% 60%;
}

.result div {
  border-radius : 10px;
  background-color : #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  }

footer {
  position: absolute;
  bottom: 5%;
  left : 40%;
  text-align: center;
  opacity: 50%;
}